*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
    background-color: #201e1e;
    color:#d8cece;
    font-family: 'Poppins', sans-serif;
}